<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/movie/add" method="POST">
    <div>
      影片名: <input type="text" name="movieName">
    </div>
    <div>
      海报：<input type="text" name="movieUrl" id="">
    </div>
    <div>
      影片描述：<textarea name="movieInfo" id="" cols="30" rows="10"></textarea>
    </div>
    <div>
      <input type="submit" value="添加影片">
    </div>
  </form>
</body>
</html>