<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/common.css">
</head>
<body>
  <div id="list">
    <% movieList.forEach((v,i) => { %>
      <a href="/detail/<%= v._id %>" class="list_item">
        <li>
          <img src="<%= v.movieUrl %>" alt="">
          <p><%= v.movieName %></p>
        </li>
  
      </a>
    <% })  %>
  </div>
  
</body>
</html>